Options +FollowSymLinks
RewriteEngine On

RewriteRule	^admin$     index.php [L]
RewriteRule	^blog$      index.php [L]
RewriteRule	^projects$  index.php [L]
RewriteRule	^articles$  index.php [L]
RewriteRule	^error$     index.php [L]

RewriteRule	^[a-z0-9\-]*$  index.php [L]