<div class="media">
	<div class="form-group">
        <input class="form-control media-heading title" type="text"
        id="yourname" name="yourname" placeholder="Votre nom">
    </div>
	<div class="form-group">
        <textarea class="form-control" id="yourcomment" name="yourcomment" placeholder="Votre commentaire"></textarea>
    </div>
	<button type="button" class="btn btn-warning" onclick="addComment()">Commenter !</button>

	<br><br>
<!-- todo : add loader -->
	<div id="respCom" class="none alert alert-dismissible fade in col-md-12" role="alert">
        <button type="button" class="close" onclick="closePopin()">
            <span>×</span>
        </button>
        <p id="respComMsg"></p>
    </div>
</div>
