/*#banner {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-image: url(../Medias/test.JPG);
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 10;

    nav transparente + retirer position fixed ?
}
*/

/* General */
.page_content {
    padding-top: 50px;  /* nav height */
}

.none {
    display: none;
}

textarea {
    margin-top: -1px;
}

a, a:hover {
    color: #d58512;
}

li {
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

img {
    max-width: 100%;
}

/* post */
#preview-content p {
    text-align: justify;
}

table {width: 100%;max-width: 100%;margin-bottom: 20px;} /* Aweful hack to get Bootstrap .table css without table class */
tr {display: table-row;vertical-align: inherit;border-color: inherit;}
th {vertical-align: bottom;border-bottom: 2px solid #ddd;}
td {padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #ddd;}

/* Scroll to top/bottom */
.scroll {
    display: block;
    position: fixed;
    visibility: visible;
    opacity: .5;
    z-index: 110;
    right: 2em;
    width: 1.7em;
    height: 1.7em;
    background: rgba(100,100,100,.9);
    text-align: center;
    border-radius: .2143em;
    cursor: pointer;

    -webkit-transition: border-radius .3s ease, color .3s ease;
    transition: border-radius .3s ease, color .3s ease;
}
.scroll .glyphicon {
    top: 4px;
}
.backToTop {
    bottom: 2em;
}
.backToBottom {
    top: 5em;
}

.scroll:hover{
    border-radius: 2em;
    color: white;
}


/* Sidebar */
.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}

.sidebar-module {
    padding: 1rem;
    margin: 0 -1rem 1rem;
}

@media (min-width: 576px)
_grid.scss:80
.offset-sm-1 {
    margin-left: 8.333333%;
}
@media (min-width: 576px)
_grid.scss:71
.col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

/* Next / Prev */
#next {
    display: block;
    float: right;
}

#prev {
    display: block;
    float: left;
}

/* comments */
.answer {
    margin-left:40px;
    margin-top:5px;
    border-left: solid 1px #c7cacb;
}

.media {
    content: ' ';
    margin-left: 15px;
}

.media-heading:before {
    content: '';
    width: 10px;
    height: 1px;
    background: #c7cacb;
    position: absolute;
    margin-left: -16px;
    margin-top: 8px;
}

/* admin */
#articles_dropdown {
    position: absolute;
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
}

#articles_dropdown ul {
    padding: 0;
    border: solid #ddd 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#articles_dropdown li {
    padding: 5px;
    margin: 0;
}

#articles_dropdown li:hover {
    background-color: #f5f5f5 ;
    cursor: pointer;
}
